<!-- <div class="container">
   
    <h1 id="heading1">COVID-19 Daily Stats</h1>
    <app-state-filter (stateChanged)="fetchData($event)"></app-state-filter>
    <table  mat-table [dataSource]="dataSource" id='table_1'>
      <ng-container matColumnDef="Date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Rise In # Covid Cases">
        <th mat-header-cell *matHeaderCellDef> Rise in # Covid Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.positiveIncrease}} </td>
      </ng-container>
  
      <ng-container matColumnDef="Fall in # Covid Cases">
        <th mat-header-cell *matHeaderCellDef> Fall in # Covid Cases </th>
        <td mat-cell *matCellDef="let element"> {{element.fall}} </td>
      </ng-container>
  
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div> -->

  <div>
    <h1 id="heading1">Daily COVID-19 Case Changes in {{ selectedState.toUpperCase() }}</h1>
    <app-state-filter (stateChanged)="onStateChanged($event)"></app-state-filter>
    <div *ngIf="dataAvailable">
        <table  mat-table [dataSource]="dataSource" id='table_1'>
            <ng-container matColumnDef="Date">
              <th mat-header-cell *matHeaderCellDef> Date </th>
              <td mat-cell *matCellDef="let element"> {{element.FormattedDate}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Rise In # Covid Cases">
              <th mat-header-cell *matHeaderCellDef> Rise in # Covid Cases </th>
              <td mat-cell *matCellDef="let element"> {{element.positiveIncrease}} </td>
            </ng-container>
        
            <ng-container matColumnDef="Fall in # Covid Cases">
              <th mat-header-cell *matHeaderCellDef> Fall in # Covid Cases </th>
              <td mat-cell *matCellDef="let element"> {{element.fall}} </td>
            </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
      <!-- <table>
        <thead>
          <tr>
            <th>Date</th>
            <th>Rise In # Covid Cases</th>
            <th>Fall in # Covid Cases</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let day of dataSource">
            <td>{{ day.date | date: 'MM/dd/yyyy' }}</td>
            <td *ngIf="day.rise > 0" class="rise">{{ day.rise }}</td>
            <td *ngIf="day.fall > 0" class="fall">{{ day.fall }}</td>
          </tr>
        </tbody>
      </table> -->
    </div>
    <div *ngIf="!dataAvailable">
      <p>Data for the selected state is not available.</p>
    </div>
  </div>
  
  